.swiper {
  width: 80%;
  height: fit-content;
}

.swiper-slide img {
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: rgb(250, 189, 109);
}

.swiper-pagination-bullet:hover {
  opacity: 0.5;
  transition: opacity 0.3s;
}
